/**/*/src/static/js/**/*.js
/website/src/assets
/website/src/fonts
/website/src/shaders
/**/*/.docusaurus
/website/articles
/blog/**/blog
/**/*/build
/website/docs
/website/docs-apisix*
/website/i18n
yarn.lock
