@import "../util";

$apisix-color: #e8433e;

.endcta {
  padding: max(14vh, 100px) 2rem;
  margin: 4em 10% 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 1em;

  & .text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: MaisonNeue-ExtraBold, sans-serif;
    position: relative;
    width: fit-content;

    & .apisix {
      color: $apisix-color;
    }

    & .rocket {
      $size: 10rem;

      position: absolute;
      right: -#{$size};
      width: $size;
      height: $size;
      bottom: 0.3em;
      transform: rotate(45deg);
    }
  }

  & .links {
    display: flex;
    
    :global(.btn-download) {
      background: #030c16;
      border-style: solid;
      border-width: 1px;
      border: none;
      color: white;
      padding: 5px 20px;
      border-radius: 20px;
      font-size: 1rem;
      text-decoration: none;
      margin: 0 10px 0 0;
      transition: all 0.3s;
      box-shadow: none;
      
      &:hover {
        background: #000000;
        color: white;
        text-decoration: none;
        box-shadow: 0 4px 12px rgba(244, 89, 89, 0.4);
      }
    }
    
    :global(.btn-docs) {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      &:hover {
        text-decoration: none;
      }
      
      :global(.goto) {
        color: #000;
        text-shadow: none;
      }
      
      &:hover :global(.goto),
      &:active :global(.goto) {
        opacity: 0.8;
        text-shadow: none;
      }
      
      :global(.arrow) {
        width: 30px;
        height: 30px;
        position: relative;
        
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        polygon,
        rect {
          transition: all 250ms;
        }
        
        rect {
          opacity: 0;
        }
      }
      
      &:hover :global(.arrow) {
        polygon {
          transform: translateX(100px);
        }
        
        rect {
          transform: translateX(240px);
          opacity: 1;
        }
      }
    }
  }

  @include respond-below(lg) {
    & .text {
      & .rocket {
        display: none;
      }
    }
  }

  /* Medium tablets */
  @media (max-width: 768px) {
    & .text {
      font-size: 3.5rem;
      
      & .apisix {
        margin: -0.8rem 0;
      }
    }
    
    & .links {
      :global(.btn-download) {
        font-size: 0.9rem;
        padding: 4px 18px;
      }
      
      :global(.btn-docs) {
        :global(.goto) {
          font-size: 0.85rem;
        }
      }
    }
  }

  @include respond-below(sm) {
    min-height: 50vh;
    margin: 4rem 1rem 0;
    align-items: flex-start;
    padding: 100px 2rem;

    & .text {
      flex-direction: column;
      font-size: 2.5rem;
      align-items: flex-start;

      & .apisix {
        margin: -1rem 0;
      }
    }
    
    & .links {
      :global(.btn-download) {
        font-size: 0.8rem;
        padding: 4px 16px;
      }
      
      :global(.btn-docs) {
        :global(.goto) {
          font-size: 0.75rem;
        }
      }
    }
  }
}

/* Extra small devices */
@media (max-width: 480px) {
  .endcta {
    & .links {
      :global(.btn-download) {
        font-size: 0.7rem;
        padding: 3px 14px;
      }
      
      :global(.btn-docs) {
        :global(.goto) {
          font-size: 0.65rem;
        }
      }
    }
  }
}
