@import "../util";

.osPromotion {
  margin: 4rem 10%;

  a {
    color: #e8433e;
  }

  & .docsPromo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 60px 40px;
    border-radius: 1rem;

    & .docsPromoHead {
      display: flex;
      flex-flow: column;
      max-width: 760px;
      margin-bottom: 2rem;
      text-align: center;

      h3 {
        font-size: 2.4rem;
      }
    }

    & .docsPromoSubtitle {
      font-size: 1.13rem;
      position: relative;
      color: #615d5d;
      letter-spacing: 0.2px;
      font-family: MaisonNeue-Light, sans-serif;
      font-weight: 700;
    }

    & .docsPromoVideo {
      width: 100%;
      max-width: 720px;
    }
  }

  @include respond-below(sm) {
    margin: 3rem 1rem;

    & .docsPromo {
      padding: 40px 20px;
    }
  }
}
