:root {
  --ifm-color-primary-lightest: rgb(228, 222, 222);
  --ifm-color-primary-lighter: #d0312d;
  --ifm-color-primary-light: #f8f8fa;
  --ifm-color-primary: #e8433e;
  --ifm-color-dark: #000;
  --ifm-color-primary-dark: #a5a0a0;
  --ifm-color-primary-darker: #9a2521;
  --ifm-color-shadow--lw: #7f1e1b;
  --color-title: #101827;
  --color-github-button: #101827;
  --color-github-button-hover: #000;
  --color-primary: #e8433e;
  --color-subtitle: #000;
  --color-secondary: #4b5563;
  --color-secondary-bg: #f3f4f6;
  --color-secondary-text: #444952;
  --color-border: #eee;
  --color-downloads-subtitle: #374051;
  --color-downloads-leftsidelinks: #4b5563;
  --color-downloads-leftsidelink-hover: #111827;
  --color-downloads-rightside-versioninfo: #6b7280;
  --color-downloads-rightside-versioninfo-span: #374151;
  --color-team-repocard: #374151;
  --color-team-repocard-hover: #111827;
  --color-docs-subtitle: #374151;
  --color-docs-versioninfo: #4b5563;
  --color-help-subtitle: #6b7280;
  --color-downloads-dropdown: #fff;
  --color-downloads-dropdown-items: #f3f4f6;
}

html[data-theme="dark"] {
  --color-secondary-bg: #121212;
  --ifm-color-dark: #b0b0b0;
  --color-title: #f0f0f0;
  --color-subtitle: #f0f0f0;
  --color-github-button: #121212;
  --color-secondary-text: #b0b0b0;
  --color-border: #b0b0b0;
  --color-downloads-subtitle: #f0f0f0;
  --color-downloads-leftsidelinks: #909397;
  --color-downloads-leftsidelink-hover: #f0f0f0;
  --color-downloads-rightside-versioninfo: #f0f0f0;
  --color-downloads-rightside-versioninfo-span: #909397;
  --color-team-repocard: #f0f0f0;
  --color-team-repocard-hover: #909397;
  --color-docs-subtitle: #f0f0f0;
  --color-docs-versioninfo: #b0b0b0;
  --color-help-subtitle: #f0f0f0;
  --color-downloads-dropdown: #18191a;
  --color-downloads-dropdown-items: #4c4e50;
}

body {
  font-family: "Inter", sans-serif;
}

div.inner {
  color: var(--ifm-color-primary);
}
.image {
  padding: 75px 10px 75px 75px;
  height: 200px;
  width: 200px;
}
.more-users {
  padding-top: 75px;
}
.product-showcase-section {
  color: var(--ifm-color-primary);
}

.post-header {
  padding-top: 50px;
}
.header {
  padding-top: 50px;
}

.color-primary {
  color: var(--ifm-color-primary);
}

header h2 {
  color: var(--color-primary);
}

@media only screen and (max-width: 414px) {
  .hide-on-mobile {
    display: none;
  }
}

/* navbar */
.navbar__link:hover,
.navbar__link--active {
  color: var(--color-primary);
}

.navbar__title {
  font-size: 18px;
  height: 30px;
}

/* home splash */
.home-splash {
  margin-top: 0px;
  margin-bottom: -50px;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .home-splash {
    margin-top: -20px;
    margin-bottom: -50px;
  }
}

.home-splash .title {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-title);
}
@media only screen and (min-device-width: 376px) and (max-device-width: 736px) {
  .home-splash .title {
    font-size: 3.52rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-width: 375px) {
  .home-splash .title {
    font-size: 3rem;
  }
}

.home-splash .title.slogan .feature-word {
  color: var(--ifm-color-primary);
}

.home-splash .title.slogan .feature-word span {
  display: inline-block;
}

.home-splash .subtitle {
  color: var(--color-subtitle);
  opacity: 0.58;
  font-size: 1.2rem;
  width: 65%;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .home-splash .subtitle {
    color: var(--ifm-color-dark);
    opacity: 0.58;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 30px;
  }
}

.home-splash .button-wrapper {
  margin-top: 28px;
}

/* showcase */
.product-showcase-section {
  color: var(--color-primary);
}
.showcase {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 70px;
}
.showcase .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

.showcase .user-logos {
  margin-top: 48px;
}

.showcase .user-logos:hover span {
  animation-play-state: paused !important;
}

.showcase .logo-row {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 5rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.showcase .user-logos-container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.showcase .user-logos-container section {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.showcase .user-logos-container section span {
  animation: 36s linear 0s infinite reverse none running logo-animation;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.showcase .user-logo {
  max-width: 128px;
  max-height: 50px;
  margin: 0 16px;
}

@keyframes logo-animation {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* events section  */
.events-section .events-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  margin: 16px 0;
}
.events-section .event-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  border: 1px solid var(--color-border);
  margin: 8px;
  padding: 8px 18px;
  border-radius: 6px;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  text-decoration: none;
  min-width: 256px;
}
@media (max-width: 574px) {
  .events-section .event-item .event-read-button {
    display: none;
  }
}
.events-section .event-item .event-title {
  font-weight: 500;
  color: var(--color-subtitle);
  opacity: 0.88;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transition: all 0.3s;
}
.events-section .event-item .event-publish-time {
  color: var(--color-subtitle);
  opacity: 0.58;
  font-size: 12px;
}
.events-section .event-item .event-read-button {
  margin-top: 16px;
  font-weight: 500;
  color: var(--color-subtitle);
  opacity: 0.58;
  font-size: 12px;
  transition: all 0.3s;
}
.events-section .event-item .event-read-button svg {
  height: 8px;
  margin-left: 1px;
  transition: all 0.3s;
}
.events-section .event-item:hover .event-title {
  color: var(--ifm-color-primary);
}
.events-section .event-item:hover .event-read-button {
  opacity: 0.88;
}
.events-section .event-item:hover {
  border-color: rgb(231, 231, 231);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.events-section .events-view-all-button {
  margin-top: 8px;
  font-size: 14px;
}

/* learn how */
.learn-how {
  width: 100%;
  border-radius: 16px;
  background: var(--color-secondary-bg);
}
.learn-how .container {
  margin-top: 36px;
  padding-bottom: 30px;
}
.learn-how .hero__title {
  font-weight: 700;
  color: var(--color-subtitle);
  opacity: 0.84;
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.learn-how .hero__subtitle {
  color: var(--color-secondary-text);
}

/* button */
.button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background: #fee2e2;
  color: #ef4444;
  transition: all 0.3s;
}
.button:hover {
  background: #fecaca;
  color: #ef4444;
}
.button.github {
  background: var(--color-github-button);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #101827;
  padding: 11px 23px;
  margin-bottom: 1rem;
}
.button.github .github-logo {
  height: 24px;
  margin: 0 12px 1px 0px;
}
.button.github:hover {
  background: var(--color-github-button-hover);
}
.button-wrapper {
  margin: 0 -10px;
}
.button.secondary {
  background: #f3f4f6;
  color: #1f2937;
  border: 1px solid #d1d5db;
  padding: 11px 23px;
  margin-bottom: 1rem;
}
.button.secondary:hover {
  background: #e5e7eb;
}
@media only screen and (max-width: 414px) {
  .button {
    margin: 0;
  }
  .button.secondary,
  .button.github {
    width: 100%;
  }
  .button-wrapper {
    margin: 0;
  }
}
a {
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--color-primary);
}
.markdown a {
  color: var(--color-primary);
}

/* footer */
.footer {
  margin-top: 2rem;
}
.footer__links .footer__title {
  font-weight: 700;
  font-size: 1.1rem;
}
.footer__links .footer__item a {
  opacity: 0.94;
}
.footer__links a:hover {
  opacity: 1;
  text-decoration: none;
}

.footer__bottom {
  margin-top: 36px;
}
.footer__bottom a[href^="https://www.apache.org/"]
{
  opacity: 1;
}
.footer__bottom a[href^="https://www.apache.org/"]:hover
{
  transform: scale(0.5);
}
.footer__bottom a[href^="https://www.apache.org/"] img
{
  margin-top: 0;
  background: white;
  padding: 8px 20px 6px 19px;
  border-radius: 24px;
}
.footer__copyright {
  font-size: 12px;
  max-width: 680px;
  margin: 0 auto;
  opacity: 0.88;
}

/*
  Animations
*/

/* feature-word-text */
.feature-word-text-enter,
.feature-word-text-appear {
  opacity: 0;
  transform: translateX(-24px);
}

.feature-word-text-enter-active,
.feature-word-text-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}

.feature-word-text-enter-done {
  opacity: 1;
}

.feature-word-text-exit {
  transform: translateX(24px);
  opacity: 1;
}

.feature-word-text-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.feature-word-text-exit-done {
  opacity: 0;
}

/* help page */
.help-page .cards {
  margin-top: 38px;
  margin-bottom: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
}
.help-page .card {
  padding: 24px 28px 18px 28px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

.help-page .card .header {
  padding: 0;
}

.help-page .card h2 {
  display: flex;
  align-items: center;
}

.help-page .card h2 img {
  padding-bottom: 2px;
  height: 28px;
  margin-right: 14px;
}

.help-page #documents-icon {
  margin-right: 10px;
  margin-left: -6px;
}

.help-page .card p {
  color: #6b7280;
}

.help-page .card .buttons {
  margin-top: 18px;
}

.help-page .card .buttons a {
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;
  margin-right: 32px;
}

.help-page .card .buttons a:hover {
  text-decoration: none;
}

.help-page .card .buttons a:hover svg {
  transform: translateX(2px);
}

.help-page .card .buttons svg {
  height: 12px;
  margin-left: 4px;
  transition: transform 0.3s;
}

.help-page .card .buttons {
  display: flex;
}

/*contribution section*/
.contribution {
  justify-content: center;
  margin-bottom: 100px;
}

.center-elem {
  display: flex;
  justify-content: center;
}

.contribution-text {
  color: var(--color-primary);
  text-align: center;
}

.contribution-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contribution-logo {
  vertical-align: middle;
  margin: 0 12px 1px 0px;
  height: 24px;
}

.team-githubLogo {
  height: 24px;
}

/*newsletter section*/

.center-elem {
  display: flex;
  justify-content: center;
}

.news-logo {
  margin-bottom: 20px;
}

.news-button {
  border: #111827;
  padding: 5px 30px;
  border-style: solid;
  border-radius: 9px;
  background: var(--color-github-button);
  color: white;
  margin: 4px;
  text-decoration: none;
  transition: all 0.3s;
}
.news-button:hover {
  background: var(--color-github-button-hover);
  color: white;
  text-decoration: none;
}

.news-logo-svg {
  height: 42px;
}

.news-text {
  color: var(--color-primary);
  text-align: center;
}

.downloads-subtitle {
  color: var(--color-downloads-subtitle);
}

.downloads-leftsidelinks {
  color: var(--color-downloads-leftsidelinks);
}

.downloads-leftsidelink:hover {
  color: var(--color-downloads-leftsidelink-hover);
}

.downloads-versioninfo {
  color: var(--color-downloads-rightside-versioninfo);
}

.downloads-versioninfo-span {
  color: var(--color-downloads-rightside-versioninfo-span);
}

.downloads-dropdown {
  background-color: var(--color-downloads-dropdown);
}

.download-dropdown-item:hover {
  background-color: var(--color-downloads-dropdown-items);
}

.team-repocard {
  color: var(--color-team-repocard);
}

.team-repocard:hover {
  color: var(--color-team-repocard-hover);
}

.docs-subtitle {
  color: var(--color-docs-subtitle);
}

.docs-versioninfo {
  color: var(--color-docs-versioninfo);
}

.help-page .card p {
  color: var(--color-help-subtitle);
}

.pic-wrapper {
  width: 440px;
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  z-index: 999;
  outline: 0;
  overflow: auto;
  border: 0;
  box-shadow: 0 0 20px -12px #626365;
}

.pic-wrapper a {
  display: flex;
}

.pic-wrapper-close {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 25px;
  font-weight: 900;
  color: rgb(135, 151, 172);
  font-size: 16px;
  outline: none;
  border: 1px solid transparent;
}

.pic-wrapper-close:hover {
  cursor: pointer;
}

.pic-wrapper-close svg {
  width: 10px;
  height: 15px;
  display: inherit;
}

@media only screen and (max-width: 440px) {
  .pic-wrapper {
    width: 100%;
  }
}

/*plugin hub section*/
.plugin-logo {
  margin-top: 10px;
  max-width: 250px;
  max-height: 180px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.plugin-logo.default {
  opacity: 0.2;
}

.overflow{
 overflow: hidden;
}

.plugin-logo:hover {
  transform: scale(1.2);
}

.read-more-link {
  color: #d0312d;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  padding-bottom: 2px;
  display: flex;
}
.read-more-link:hover {
  color: var(--color-primary);
  text-decoration: var(--ifm-link-hover-decoration);
}

/*Sidebar Section*/

.sidebar-link{
  color: #d0312d;
}

.sidebar-link :hover {
  color: #ffb3b3;
}
