@import "./util";

.arrow {
  $size: 25px;

  width: $size;
  height: $size;
  position: relative;
  margin-bottom: 1px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
  }

  polygon,
  rect {
    transition: all 250ms;
  }

  rect {
    opacity: 0;
  }
}

.homeEvents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8em 10%;

  h3 {
    font-size: 2.4rem;
  }

  p {
    color: #615d5d;
    font-size: 1.13rem;
    letter-spacing: 0.2px;
    font-family: MaisonNeue-Light, sans-serif;
    font-weight: 700;
  }

  & .events {
    display: flex;
    justify-content: space-between;
    width: 70%;

    & .eventCard {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      height: 200px;
      width: 282px;
      transition: all 0.2s ease-in-out;
      margin: 0 1rem;
      border-radius: 1rem;
      border: 1px solid hsl(210deg 26% 28% / 14%);
      padding: 1rem;

      & > time {
        color: hsl(0deg 0% 78%);
      }

      & > h4 {
        flex-shrink: 0;
        flex-grow: 1;
        color: hsl(0deg 0% 30%);
      }

      & > div {
        color: hsl(0deg 0% 60%);
        display: flex;
        align-items: center;
      }

      &:hover {
        transform: scale3d(1.03, 1.03, 1);

        polygon {
          transform: translateX(100px) !important;
        }

        rect {
          transform: translateX(240px) !important;
          opacity: 1 !important;
        }
      }
    }
  }

  .newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      margin: 2rem 0 1rem;
    }
  }
}
