.plugin-logo {
  margin-top: 10px;
  max-width: 250px;
  max-height: 180px;
  transform: scale(1);
  transition: transform 0.5s ease;

  &.default {
    opacity: 0.2;
  }
}

.overflow {
  overflow: hidden;
}

.plugin-logo:hover {
  transform: scale(1.2);
}

.read-more-link {
  color: #d0312d;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  padding-bottom: 2px;
  display: flex;
}

.read-more-link:hover {
  color: var(--color-primary);
  text-decoration: var(--ifm-link-hover-decoration);
}
