.showcase {
  .header {
    padding-top: 0;

    .title {
      color: var(--color-primary);
      font-size: 50px;
      font-weight: bold;
    }

    .tips {
      font-size: 18px;
    }
  }

  .content {
    width: 100%;
    padding: 50px 200px;
    display: flex;
    flex-wrap: wrap;
  }

  .user-card {
    padding: 30px 10px;

    .logo {
      max-width: 100px;
      max-height: 40px;
    }
  }

  .row {
    margin: 0;
  }

  @media (max-width: 1200px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 50px 50px;
    }
  }

@media (max-width: 820px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

}
