.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.subtitle {
  color: #363636;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.warning {
  font-weight: bold;
}

.navbar.is-fresh .navbar-brand img {
  width: 300px;
  height: 122px;
  max-height: 122px;
}

.navbar.is-fresh .language-switcher {
  margin-top: 0;
}