{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle1   := index $hero "subtitle1" }}
{{- $subtitle2   := index $hero "subtitle2" }}
{{- $subtitle3   := index $hero "subtitle3" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $downloadsButtonText := index $hero "downloadsbuttontext" }}
{{- $downloadsButtonLink := index $hero "downloadsbuttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-12 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>

        {{ with $subtitle1 }}
        <h2 class="subtitle is-4 is-muted">
          {{ . }}
        </h2>
        {{ end }}

        {{ with $subtitle2 }}
        <h2 class="subtitle is-4 is-muted">
          {{ . }}
        </h2>
        {{ end }}

        {{ with $subtitle3 }}
        <h2 class="subtitle is-4 is-muted">
          {{ . }}
        </h2>
        {{ end }}

        <p class="btns">
          <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
          <a class="button cta rounded primary-btn raised" href="{{ $downloadsButtonLink }}">
            {{ $downloadsButtonText }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>