{{- $section3   := .Site.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $image      := index $section3 "image" }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
    </div>

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="{{ printf "%s" $image | relURL }}">
        </div>
      </div>
    </div>
  </div>
</section>