{{- $section3   := .Site.Params.section3 }}
{{- $title      := index $section3 "title" }}
{{- $image      := index $section3 "image" }}
<section class="section is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">
如果您在使用 APISIX，欢迎将您的信息加入<a href="https://github.com/iresty/apisix/issues/487"> APISIX 使用者名单</a>，以帮助我们更好地发展。
      </h3>
    </div>

    <div class="columns">
      <div class="column is-10 is-offset-1">
        <div class="has-text-centered">
          <img class="pushed-image" src="{{ printf "%s" $image | relURL }}">
        </div>
      </div>
    </div>
  </div>
</section>