# This is a basic workflow to help you get started with Actions

name: Check broken links

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
  pull_request_target:
    branches: [master]
  schedule:
    # Run everyday at 9:00 AM (See https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07)
    - cron: "0 5 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  labeler:
    permissions:
      issues: write
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v4
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
  # This workflow contains a single job called "build"
  check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install Dependencies
        run: |
          yarn install

      - name: Pull Docs
        run: |
          yarn sync-doc && git status

      - name: Check Links
        run: |
          yarn workspace scripts link-checker && git status

      - name: Archive Broken Links List
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: broken-links.json
          path: scripts/brokenLinks.json
          retention-days: 5
